<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Lottery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const code = urlParams.get('code');

        $(function () {
            $.ajax({
                type: "POST",
                url: "/oauth2/token?grant_type=authorization_code&code=" + code,
                headers: {"Authorization": "Basic ZGVtby1jbGllbnQ6ZGVtby1zZWNyZXQ="},
                success: function (response) {
                    const access_token = response.access_token;
                    //alert(access_token);
                },
                error: function (response) {
                }
            });
        });

    </script>
</head>
<body>
I AM AUTH
</body>
</html>